<%= box_wrapper "Manage Training Step: #{@training_step.title}" do %>

	<%= form_for [:cp, @training_step] do |f| %>
		<%= check_for_errors(@training_step) %>
	
		<fieldset>
		<ol>
		  <li>
			<label for="title">Title</label>
			<%= f.text_field :title %>
		  </li>

		  <li>
			<label for="position">Position</label> 
			<% position_options = TrainingStep::PositionOptions %>
			<%= f.select :position_before, position_options.reject {|step| @training_step.position == step[1]}, 
						 :selected => position_options[position_options.index(position_options.find {|p| p[1] == @training_step.position}) - 1][1] # hack for ruby 1.8.7, doesn't take block form for index method 
						%>
		  </li>
		
		  <li>
			<label for="users">Completed By</label>
			<%= f.text_field :noob_tokens, :class => 'noob_tokens', "data-pre" => @training_step.users.map {|u| {:id => u.id, :name => u.name}}.to_json %>
		  </li>		
		</ol>
	  </fieldset>

	  <fieldset>
	    <%= f.submit "Update Training Step" %>
	  </fieldset>
	<% end %>

<%= link_to "Remove this Training Step", cp_training_step_path(@training_step), :method => :delete, :confirm => "Remove this Training Step?" %>
<% end %>