<%= nav 'profile_tabs', 'edit_profile' %>
<%= nav 'edit_profile_nav', 'manage' %>

<%= box_wrapper do %>
	<%= form_for [:cp, @user], :url => update_manage_cp_user_path(@user), :html => { :multipart => true } do |f| %>
		<%= check_for_errors(@user) %>
	
	<fieldset>
		<legend>Manage</legend>
		<ol>
		  <li>
			<label for="name">Name</label>
			<%= f.text_field :name %>
		  </li>
		
		  <li>
			<label for="show_tokens">Shows</label>
			<%= f.text_field :show_tokens, :class => 'show_tokens', "data-pre" => @user.shows.map {|s| {:id => s.id, :name => s.title}}.to_json %>
		  </li>
		</ol><br />
		<legend>Roles</legend>
		<ol>
	    	<% @roles.each do |role| %>
				<li class="checkboxes">
					<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), :id => "user_role_id_#{role.id}" %> <%= role.title %>
		  		</li>
			<% end %>			
		</ol>
		<div class="note left">Note: The "alumnus" role clears all this user's shows, permissions, strikes, and more. Be careful!</div>
	</fieldset>
	  <fieldset>
		<div class="alt-form-link"><%= link_to "Reset Password and Resend Welcome E-mail", resend_welcome_cp_user_path, :id => 'resend_welcome', :method => :put, :confirm => "Reset Password and Resend Welcome E-mail to this user?" %></div>
	    <%= f.submit "Update User" %>
	  </fieldset>
	<% end %>
	
<% end %>