<div class="sub-nav">
	<%= nav_link "Profile", edit_cp_user_path(@user), active_tabs.include?('profile') %>
	<%= nav_link "Password", edit_password_cp_user_path(@user), active_tabs.include?('password') if @current_user.allowed_to('manage_users_full') or @current_user == @user %>
	<%= nav_link "Manage", manage_cp_user_path(@user), active_tabs.include?('manage') if @current_user.allowed_to('manage_users_full') %>
	<%= nav_link "Permissions", edit_permissions_cp_user_path(@user), active_tabs.include?('permissions') if @current_user.allowed_to('admin') %>
	<%= nav_link "Remove", edit_remove_cp_user_path(@user), active_tabs.include?('remove') if @current_user.allowed_to('manage_users_full') %>
</div>