<%= content_for :javascript do %>
	<%= javascript_include_tag playlist_cp_schedule_event_playlist_entries_url(schedule_event, :format => :js) %>
<% end %>

<div id="playlist-entry-wrapper">
	<div id="playlist">
		<% schedule_event.playlist_entries.each do |entry| %>
		<div id='playlist_entry_<%=entry.id%>'>
			<%= render :partial => 'cp/playlist_entries/playlist_entry', :object => entry, :locals => { :schedule_event => schedule_event } %>
		</div>
		<% end %>
	</div>
	<div id="playlist-entry">
		<%# check new.js.erb for partial render. Did this to stay DRY... had to render partial on page load and on "add song" click. %>
	</div>
	<div id="add-song">
		<%= link_to '', "#", :id => "add-song-link" %>
	</div>
</div>

<legend><%= link_to 'iTunes Box', nil, :id => 'itunes-link' %></legend>
<%= form_tag nil, :id => 'itunes-box' do %>
	<fieldset>
		<ol>
		  <li>
			<%= text_area_tag 'itunes-content', nil %>
		  </li>
		</ol>
	</fieldset>

	<fieldset>
		<%= submit_tag 'Do It.', :id => 'itunes-submit'  %>
  	</fieldset>
<% end %>